<!--Just for refrence To render the data in json format on UI s -->
<!-- <pre>{{ homeList | json}}</pre> -->

<!--Note:  In Bootstrap4 you need to write class="row" if you want grid layout at top-->
<div class="row">

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-4">
                    <label for="sort-field">Sort By</label>
                    <select 
                    class="form-control" 
                    name="sort-field" 
                    id="sort-field" 
                    [(ngModel)]="sortField">
                    <option 
                        *ngFor="let field of sortFields" 
                        [value]="field">
                        {{ utilService.capitalize(field) }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="sort-direction">Sort Direction</label>
                    <div>
                        <button 
                            class="btn btn-primary"
                            [ngClass]="{'btn-success': sortDirection == 'asc'}"
                            (click)="sortDirection = 'asc'">
                            Asc
                        </button>

                        <button
                            class="btn btn-primary"
                            [ngClass]="{'btn-success': sortDirection == 'desc'}"
                            (click)="sortDirection = 'desc'">
                            Desc
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor= "let home of homeList | sortBy:[sortField,sortDirection]" id="hlist">
        <!-- declaring home-card component as a directive and added property binding
        as home because we added it for ngFor as our local var -->
        <app-home-card class="col-sm-4" [home]= 'home'></app-home-card>
    </div>
</div>
 